body {
    width: 1920px;
    height: 1426px;
}
a {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}
.features {
    /* FEATURES */
    /* position: static; */
    width: 1920px;
    height: 510px;
    /* padding: 100px 373px 100px 373px; */
    display: grid;
    grid-template-columns: 310px 378px 310px;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: rgb(255, 255, 255);
    gap: 61px;
}
.features1 {
    /* Features 01 */
    /* position: static; */
    width: 310px;
    height: 230px;
    /* Автолейаут */
    display: grid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-items: start;
    align-content: center;
  
    gap: 25px;
    /* Inside Auto Layout */
    
}
.img_pic1 {
    /* Rectangle 9 */
    /* position: absolute; */
    width: 70px;
    height: 70px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 15px;
    background: rgba(242, 88, 34, 0.25);
}
.img_features1 {
    /* Vector */
    /* position: absolute; */
    width: 27.78px;
    height: 25px;
    left: 30%;
    right: 30.31%;
    top: 32.86%;
    bottom: 31.43%;
    margin: 23px 21.22px 22px 21px;
}
.h2_text1 {
    /* width: 235px;
    height: 29px; */
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}
.text_p1 {
    color: rgb(102, 102, 102);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}
.features2 {
    /* Features 02 */
    /* position: static; */
    width: 378px;
    height: 310px;
    /* Автолейаут */
    display: grid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-items: start;
    align-content: center;
    gap: 25px;
    /* padding: 40px 34px 40px 34px; */
    
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}
.img_pic2 {
    /* Rectangle 9 */
    /* position: absolute; */
    width: 70px;
    height: 70px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 15px;
    background: rgba(20, 146, 17, 0.28);
}
.img_features2 {
    /* Vector */
    /* position: absolute; */
    width: 16.67px;
    height: 22.92px;
    left: 38.81%;
    right: 37.38%;
    top: 34.34%;
    bottom: 32.91%;
    margin: 24.04px 26.17px 23.04px 27.17px;
}
.h2_text2 {
    width: 201px;
    height: 29px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}
.features3 {
    /* Features 03 */
    /* position: static; */
    width: 310px;
    height: 230px;
    /* Автолейаут */
    display: grid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-items: start;
    align-content: center;
    /* padding: 0px; */
    gap: 25px;
}
.img_pic3 {
    /* Rectangle 9 */
/* position: absolute; */
    width: 70px;
    height: 70px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 15px;
    background: rgba(255, 205, 29, 0.24);
}

.img_features3 {
    /* Vector */
    /* position: absolute; */
    width: 18.76px;
    height: 18.75px;
    left: 38.8%;
    right: 34.4%;
    top: 38.81%;
    bottom: 34.4%;
    margin: 27.16px 24.08px 24.08px 27.16px;
}
.point {
    /* Vector */
    position: absolute;
    width: 3.13px;
    height: 3.13px;
    left: 46.25%;
    right: 49.28%;
    top: 46.25%;
    bottom: 49.28%;
    margin: 32.38px 34.5px 34.5px 32.38px;
}
.h2_text3 {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    gap: 18px;
}
.services {
    /* SERVICES */
    /* position: static; */
    width: 1920px;
    height: 916px;
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0px 373px 0px 373px; */
    gap: 48px;
}
.secation_title {
    /* Secation Title */
    /* position: static; */
    width: 1174px;
    height: 126px;
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* padding: 0px; */
}
.text_h1 {
    /* Title */
    /* position: static; */
    width: 662px;
    height: 58px;
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
}
.text_p2 {
    /* Subtitle */
    /* position: static; */
    width: 740px;
    height: 44px;
    color: rgb(136, 136, 136);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
}
.services_all {
    /* Services */
    position: static;
    width: 1174px;
    height: 542px;
    /* Автолейаут */
    display: grid;
    grid-template-columns: 378px 378px 378px;
    justify-content: center;
    align-items: center;
    /* padding: 0px; */
    gap: 20px;
}
.services1 {
    /* Services 01 */
    position: static;
    width: 378px;
    height: 542px;
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 34px 34px 34px;
}
.img_pic4 {
    width: 378px;
    height: 284px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.h2_text4 {
    /* Title */
    /* position: static;
    width: 310px;
    height: 29px;
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px; */


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}

.text_p3 {
    color: rgb(102, 102, 102);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
}
.top_button {
    /* btn */
    position: static;
    width: 166px;
    height: 51px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px 16px 32px;
    border-radius: 56px;

    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
    background: rgb(242, 88, 34);
}
.button {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.arrow {
    margin: 21.5 35.5 21.5 126.5;
}
.services2 {
    /* Services 02 */
    /* position: static; */
    width: 378px;
    height: 542px;
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 34px 34px 34px;
}
.h2_text5 {
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}
.text_p4 {
    color: rgb(102, 102, 102);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
}
.services3 {
    /* Services 03 */
    /* position: static; */
    width: 378px;
    height: 542px;
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 34px 34px 34px;

}
.h2_text6 {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}
.text_p5 {
    color: rgb(102, 102, 102);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
}


