* {
    font-family: Inter;
    text-decoration: none;
}
body {
    width: 1300px;
    height: 889px;
    /* flex-shrink: 0; */
    margin: 0px 310px 0px 310px;
    border: 5px solid #000;
}
a {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.header {
    width: 1226px;
    height: 80px;
    margin: 32px 37px 0px 37px;
    flex-shrink: 0;
    border: 5px solid #0150E9;
}
.top_menu {
    display: flex;
    align-items: center;
    /* gap: 430px; */
}
.logo_header {
    display: flex;
    width: 137px;
    height: 40px;
    padding-right: 0.878px;
    justify-content: flex-start;
    align-items: center;
    gap: 14.792px;
    margin: 8px 0px 32px 26px;
}
.img_header_logo {
    width: 35px;
    height: 40px;
    flex-shrink: 0;
    
}
.img_header {
    width: 86.33px;
    height: 17.472px;
    flex-shrink: 0;
}
.menu_tab {
    width: 625px;
    height: 56px;
    flex-shrink: 0;
    border: 5px solid #20C905;
    display: flex;
    align-items: flex-start;
    gap: 14px;
    margin: 0px 0px 24px 428px;
}
.right_menu {
    width: 577px;
    height: 37px;
    display: grid;
    /* align-items: flex-start; */
    gap: 14px;
    /* flex-shrink: 0; */
    /* margin: 9,5px 26px 9,5px 22px; */
    grid-template-columns: 60px 82px 77px 94px 57px 50px 73px;
    /* justify-content: space-around; */
}
.home1 {
    width: 60px;
    height: 37px;
    color: #F25822;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 9,5px 543px 9,5px 22px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.about {
    width: 62px;
    height: 17px;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    margin: 20px 10px 10px 10px;
    justify-content: center;
    align-items: center;
}
.services {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px 10px 10px 10px;
}
.features {
    display: flex; 
    width: 58px;
    height: 17px;
    justify-content: center;
    /* align-items: center; */
    gap: 6px;
    margin: 20px 10px 10px 10px;
}
.team {
    color: #000;
    width: 37px;
    height: 17px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px 10px 10px 10px;
}
.blog {
    color: #000;
    width: 37px;
    height: 17px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px 10px 10px 10px;
    align-items: center;
}
.contact {
    width: 53px;
    height: 17px;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px 10px 10px 10px;
}
.top_content {
    width: 1226px;
    height: 461px;
    display: grid;
    justify-content: start;
    margin: 0px 37px 51px 37px;
    /* flex-shrink: 0; */
    border: 5px solid #E99C08;
}
.top_info {
    width: 603px;
    height: 441px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10px auto 10px 10px;
    flex-shrink: 0;
    border: 5px solid #BD0EFB;
}
.top_incut {
    display: flex;
    width: 1174px;
    justify-content: space-between;
    align-items: flex-start;
}
.img_meta {
    width: 545px;
    height: 375px;
    flex-shrink: 0;
    margin: 37px 26px 49px 42px;
}
.text_h1 {
    max-width: 556px;
    height: 216px;
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 72px */
    align-self: stretch;
    margin: 27px 31px 20px 16px;
}
.text_h5 {
    width: 556px;
    height: 56px;
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    align-self: stretch;
    margin: 0px 31px 32px 16px;
}
.top_button {
    width: 359px;
    height: 66px;
    display: flex;
    border: 5px solid #FF1DA4;
    align-items: center;
    
    align-self: stretch;
    margin: 32px 203px 8px 6px;
}
button {
    width: 99px;
    height: 19px;
    color: #AAA;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 23px 26px 24px 0px;
}
.button1 {
    display: flex;
    width: 140px;
    padding: 16px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 56px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    margin: 7px 48px 8px 6px;
}
.top_logo {
    width: 1226px;
    height: 145px;
    display: grid;
    gap: 48px;
    /* flex-shrink: 0; */
    border: 5px solid #19FBFB;
    margin: 54px 37px 51px 37px;
    grid-template-columns: 134px 160px 160px 160px 160px 160px;
    align-content: center;
    justify-content: center;
}
.img_logo1 {
    width: 134px;
    height: 50px;
    flex-shrink: 0;
    /* margin: 46px 0px 49px 0px; */
}
.img_logo {
    width: 160px;
    height: 50px;
    flex-shrink: 0;
    /* margin: 46px 0px 49px 48px; */
}